# Xcode
#
# gitignore contributors: remember to update Global/Xcode.gitignore, Objective-C.gitignore & Swift.gitignore

## User settings
xcuserdata/

## compatibility with Xcode 8 and earlier (ignoring not required starting Xcode 9)
*.xcscmblueprint
*.xccheckout

## compatibility with Xcode 3 and earlier (ignoring not required starting Xcode 4)
build/
DerivedData/
*.moved-aside
*.pbxuser
!default.pbxuser
*.mode1v3
!default.mode1v3
*.mode2v3
!default.mode2v3
*.perspectivev3
!default.perspectivev3

## Obj-C/Swift specific
*.hmap

## App packaging
*.ipa
*.dSYM.zip
*.dSYM

## Playgrounds
timeline.xctimeline
playground.xcworkspace

# Swift Package Manager
#
# Add this line if you want to avoid checking in source code from Swift Package Manager dependencies.
# Packages/
# Package.pins
# Package.resolved
# *.xcodeproj
#
# Xcode automatically generates this directory with a .xcworkspacedata file and xcuserdata
# hence it is not needed unless you have added a package configuration file to your project
# .swiftpm

.build/

# CocoaPods
#
# We recommend against adding the Pods directory to your .gitignore. However
# you should judge for yourself, the pros and cons are mentioned at:
# https://guides.cocoapods.org/using/using-cocoapods.html#should-i-check-the-pods-directory-into-source-control
#
# Pods/
#
# Add this line if you want to avoid checking in source code from the Xcode workspace
# *.xcworkspace

# Carthage
#
# Add this line if you want to avoid checking in source code from Carthage dependencies.
# Carthage/Checkouts

Carthage/Build/

# Accio dependency management
Dependencies/
.accio/

# fastlane
#
# It is recommended to not store the screenshots in the git repo.
# Instead, use fastlane to re-generate the screenshots whenever they are needed.
# For more information about the recommended setup visit:
# https://docs.fastlane.tools/best-practices/source-control/#source-control

fastlane/report.xml
fastlane/Preview.html
fastlane/screenshots/**/*.png
fastlane/test_output

# Code Injection
#
# After new code Injection tools there's a generated folder /iOSInjectionProject
# https://github.com/johnno1962/injectionforxcode

iOSInjectionProject/
herow-sdk-ios/connection/platform-secrets.plist
herow-sdk-ios/.DS_Store
herow-sdk-ios/connection/.DS_Store
herow-sdk-ios/action/.DS_Store
herow-sdk-ios/common/.DS_Store
herow-sdk-ios/detection/.DS_Store
herow-sdk-ios/output/
herow-sdk-ios/output/**/*
herow-sdk-ios/**/.DS_Store
herow-sdk-ios/.DS_Store


.DS_Store
output/Herow.podspec
output/herow_sdk_ios.framework.zip
output/herow_sdk_ios.framework/Headers/herow_sdk_ios-Swift.h
output/herow_sdk_ios.framework/Headers/herow_sdk_ios-device-Swift.h
output/herow_sdk_ios.framework/Headers/herow_sdk_ios-simulator-Swift.h
output/herow_sdk_ios.framework/Headers/herow_sdk_ios.h
output/herow_sdk_ios.framework/HerowDataModel.momd/HerowDataModel.mom
output/herow_sdk_ios.framework/HerowDataModel.momd/VersionInfo.plist
output/herow_sdk_ios.framework/Info.plist
output/herow_sdk_ios.framework/Modules/herow_sdk_ios.swiftmodule/Project/arm64-apple-ios.swiftsourceinfo
output/herow_sdk_ios.framework/Modules/herow_sdk_ios.swiftmodule/Project/arm64.swiftsourceinfo
output/herow_sdk_ios.framework/Modules/herow_sdk_ios.swiftmodule/arm64-apple-ios-simulator.swiftdoc
output/herow_sdk_ios.framework/Modules/herow_sdk_ios.swiftmodule/arm64-apple-ios-simulator.swiftmodule
output/herow_sdk_ios.framework/Modules/herow_sdk_ios.swiftmodule/arm64-apple-ios.swiftdoc
output/herow_sdk_ios.framework/Modules/herow_sdk_ios.swiftmodule/arm64-apple-ios.swiftmodule
output/herow_sdk_ios.framework/Modules/herow_sdk_ios.swiftmodule/arm64.swiftdoc
output/herow_sdk_ios.framework/Modules/herow_sdk_ios.swiftmodule/arm64.swiftmodule
output/herow_sdk_ios.framework/Modules/herow_sdk_ios.swiftmodule/x86_64-apple-ios-simulator.swiftdoc
output/herow_sdk_ios.framework/Modules/herow_sdk_ios.swiftmodule/x86_64-apple-ios-simulator.swiftmodule
output/herow_sdk_ios.framework/Modules/herow_sdk_ios.swiftmodule/x86_64.swiftdoc
output/herow_sdk_ios.framework/Modules/herow_sdk_ios.swiftmodule/x86_64.swiftmodule
output/herow_sdk_ios.framework/Modules/module.modulemap
output/herow_sdk_ios.framework/herow_sdk_ios
output/herow_sdk_ios.framework/platform-secrets.plist
output/herow_sdk_ios.xcframework.zip
output/Package.swift
output/herow_sdk_ios.xcframework/Info.plist
output/herow_sdk_ios.xcframework/ios-arm64/herow_sdk_ios.framework/Headers/herow_sdk_ios-Swift.h
output/herow_sdk_ios.xcframework/ios-arm64/herow_sdk_ios.framework/Headers/herow_sdk_ios.h
output/herow_sdk_ios.xcframework/ios-arm64/herow_sdk_ios.framework/HerowDataModel.momd/HerowDataModel.mom
output/herow_sdk_ios.xcframework/ios-arm64/herow_sdk_ios.framework/HerowDataModel.momd/VersionInfo.plist
output/herow_sdk_ios.xcframework/ios-arm64/herow_sdk_ios.framework/Info.plist
output/herow_sdk_ios.xcframework/ios-arm64/herow_sdk_ios.framework/Modules/herow_sdk_ios.swiftmodule/arm64-apple-ios.swiftdoc
output/herow_sdk_ios.xcframework/ios-arm64/herow_sdk_ios.framework/Modules/herow_sdk_ios.swiftmodule/arm64-apple-ios.swiftinterface
output/herow_sdk_ios.xcframework/ios-arm64/herow_sdk_ios.framework/Modules/herow_sdk_ios.swiftmodule/arm64.swiftdoc
output/herow_sdk_ios.xcframework/ios-arm64/herow_sdk_ios.framework/Modules/herow_sdk_ios.swiftmodule/arm64.swiftinterface
output/herow_sdk_ios.xcframework/ios-arm64/herow_sdk_ios.framework/Modules/module.modulemap
output/herow_sdk_ios.xcframework/ios-arm64/herow_sdk_ios.framework/herow_sdk_ios
output/herow_sdk_ios.xcframework/ios-arm64/herow_sdk_ios.framework/platform-secrets.plist
output/herow_sdk_ios.xcframework/ios-arm64_x86_64-simulator/herow_sdk_ios.framework/Headers/herow_sdk_ios-Swift.h
output/herow_sdk_ios.xcframework/ios-arm64_x86_64-simulator/herow_sdk_ios.framework/Headers/herow_sdk_ios.h
output/herow_sdk_ios.xcframework/ios-arm64_x86_64-simulator/herow_sdk_ios.framework/HerowDataModel.momd/HerowDataModel.mom
output/herow_sdk_ios.xcframework/ios-arm64_x86_64-simulator/herow_sdk_ios.framework/HerowDataModel.momd/VersionInfo.plist
output/herow_sdk_ios.xcframework/ios-arm64_x86_64-simulator/herow_sdk_ios.framework/Info.plist
output/herow_sdk_ios.xcframework/ios-arm64_x86_64-simulator/herow_sdk_ios.framework/Modules/herow_sdk_ios.swiftmodule/arm64-apple-ios-simulator.swiftdoc
output/herow_sdk_ios.xcframework/ios-arm64_x86_64-simulator/herow_sdk_ios.framework/Modules/herow_sdk_ios.swiftmodule/arm64-apple-ios-simulator.swiftinterface
output/herow_sdk_ios.xcframework/ios-arm64_x86_64-simulator/herow_sdk_ios.framework/Modules/herow_sdk_ios.swiftmodule/arm64.swiftdoc
output/herow_sdk_ios.xcframework/ios-arm64_x86_64-simulator/herow_sdk_ios.framework/Modules/herow_sdk_ios.swiftmodule/arm64.swiftinterface
output/herow_sdk_ios.xcframework/ios-arm64_x86_64-simulator/herow_sdk_ios.framework/Modules/herow_sdk_ios.swiftmodule/x86_64-apple-ios-simulator.swiftdoc
output/herow_sdk_ios.xcframework/ios-arm64_x86_64-simulator/herow_sdk_ios.framework/Modules/herow_sdk_ios.swiftmodule/x86_64-apple-ios-simulator.swiftinterface
output/herow_sdk_ios.xcframework/ios-arm64_x86_64-simulator/herow_sdk_ios.framework/Modules/herow_sdk_ios.swiftmodule/x86_64.swiftdoc
output/herow_sdk_ios.xcframework/ios-arm64_x86_64-simulator/herow_sdk_ios.framework/Modules/herow_sdk_ios.swiftmodule/x86_64.swiftinterface
output/herow_sdk_ios.xcframework/ios-arm64_x86_64-simulator/herow_sdk_ios.framework/Modules/module.modulemap
output/herow_sdk_ios.xcframework/ios-arm64_x86_64-simulator/herow_sdk_ios.framework/_CodeSignature/CodeResources
output/herow_sdk_ios.xcframework/ios-arm64_x86_64-simulator/herow_sdk_ios.framework/herow_sdk_ios
output/herow_sdk_ios.xcframework/ios-arm64_x86_64-simulator/herow_sdk_ios.framework/platform-secrets.plist
output/herow_sdk_ios.framework/Frameworks/Pods_herow_sdk_ios.framework/Info.plist
output/herow_sdk_ios.framework/Frameworks/Pods_herow_sdk_ios.framework/Pods_herow_sdk_ios
herow_sdk_ios.xcodeproj/project.xcworkspace/xcshareddata/swiftpm/Package.resolved
output/zirTtekj
herow-sdk-ios/connection/platform-secrets.plist
:100644 100644 0a24fcb6066b10d671f9a0280dd4e5d3b72653fe 0000000000000000000000000000000000000000 M
:100644 100644 0acbb9eac8e94cac100babd52d2db04d2b334c66 0000000000000000000000000000000000000000 M
:100644 100644 0c23fcbc3fbd9c4c9b800b278cd0749021b5ebe1 0000000000000000000000000000000000000000 M
:100644 100644 0d7acb115b4b0217ce118d4ac970e8e1cd31a1c9 0000000000000000000000000000000000000000 M
:100644 100644 0e81709d48a472f9eeae79c389285507cd8f4d7b 0000000000000000000000000000000000000000 M
:100644 100644 1cb4d56aff9f271a278af1a8bb8afe361a5dc9a7 0000000000000000000000000000000000000000 M
:100644 100644 2183889a87661cfa79a55a83034895b8b281f49c 0000000000000000000000000000000000000000 M
:100644 100644 21f827d8b2283fa4f902c14bf07a64b230eda011 0000000000000000000000000000000000000000 M
:100644 100644 26c853b010d68e30d13e166bf1eef4442e507706 0000000000000000000000000000000000000000 M
:100644 100644 27173566710ab04a6263ddc8c830f7ddb8f226af 0000000000000000000000000000000000000000 M
:100644 100644 2878e3cc46549e796f26aa195f28d645f0137547 0000000000000000000000000000000000000000 M
:100644 100644 290e11e497248b38c16fa7bf42e98eaa639a9149 0000000000000000000000000000000000000000 M
:100644 100644 3915f213275b53a4041b6d9a30a0efc9c9918c69 0000000000000000000000000000000000000000 M
:100644 100644 3b0614e1164a956655887521dc125e73e361aff2 0000000000000000000000000000000000000000 M
:100644 100644 3eba3b7c329874cf3e6cadb5848e0c5b416319da 0000000000000000000000000000000000000000 M
:100644 100644 43abd4142177e0d85266ecedee9954fb2caae2fd 0000000000000000000000000000000000000000 M
:100644 100644 4e8bd92cd8fcdd178cd7f588a10b9fdc3108a991 0000000000000000000000000000000000000000 M
:100644 100644 4f33d87506d54d6fd70df24694e4bd4a389efad6 0000000000000000000000000000000000000000 M
:100644 100644 586a3dde369254d2630c69e39a004bc8a452f771 0000000000000000000000000000000000000000 M
:100644 100644 5b411701080606f712b1b6441528973ba38b9670 0000000000000000000000000000000000000000 M
:100644 100644 6208c327f53afb06cb1e226d2c42578551e37898 0000000000000000000000000000000000000000 M
:100644 100644 68d579ee75c64b88958d265bd3f3a25178637c00 0000000000000000000000000000000000000000 M
:100644 100644 7526f1cb7bf0d31a502f96744b1126680dcd606f 0000000000000000000000000000000000000000 M
:100644 100644 8128cbfd71758a94e310992c9c56cee99c48a7df 0000000000000000000000000000000000000000 M
:100644 100644 815f0d67a59da78587880a8beba244596e5ce1a7 0000000000000000000000000000000000000000 M
:100644 100644 8b75c16269c0e39ba1e2d6955e9cb3eed98a7433 0000000000000000000000000000000000000000 M
:100644 100644 96319c41e51c0365cbf428663e6f0e12df0c200b 0000000000000000000000000000000000000000 M
:100644 100644 a4c140cfc1a0bdb2f4c67fc0758ee4b91f176a52 0000000000000000000000000000000000000000 M
:100644 100644 ab9e834d77d094521664ba2f3c2ab32ff5dbf9f4 0000000000000000000000000000000000000000 M
:100644 100644 b140ae9c27a1ca1a4f3a96cc60951b7c49c5a883 0000000000000000000000000000000000000000 M
:100644 100644 c0163ccb7e12cfadaa037ebc82a2e685a1cb6dae 0000000000000000000000000000000000000000 M
:100644 100644 d1487d6689c698c3b206623dcca57a70775259c4 0000000000000000000000000000000000000000 M
:100644 100644 db5e580cc0c9460c6882e5b86594c97bfe960754 0000000000000000000000000000000000000000 M
:100644 100644 e16e031937b70e1f3f36ad7e2e454d8ac0be739d 0000000000000000000000000000000000000000 M
:100644 100644 e1b356250a4f659621e67120717ceb71b6ecd295 0000000000000000000000000000000000000000 M
:100644 100644 e4326c2d256ada43b68af64965bc87b4eec1fba8 0000000000000000000000000000000000000000 M
:100644 100644 e918f50d46db823a2429dd26c67ebad4fda59aca 0000000000000000000000000000000000000000 M
:100644 100644 ee30435abd7a79f60320ed9245aabf0552f4d3d5 0000000000000000000000000000000000000000 M
:100644 100644 f64263b469d860baae6620100dbdf6f0cd3d6a59 0000000000000000000000000000000000000000 M
:100644 100644 f9889528fc39634147468a9db0d84dfcf5c4d8cf 0000000000000000000000000000000000000000 M
:100755 100755 5bf6b00372348b9c96b4ee5096e149d48acafa35 0000000000000000000000000000000000000000 M
:100755 100755 c62269bfbabd4bb9f02ff2a83baaa631ccda4425 0000000000000000000000000000000000000000 M
:100755 100755 d5f20ac104fcd0ab3b4c1965e1b65199c672ed44 0000000000000000000000000000000000000000 M
HerowSDKTEST/HerowSDKTEST.xcodeproj/project.pbxproj
HerowSDKTEST/HerowSDKTEST.xcodeproj/xcshareddata/xcschemes/HerowSDKTEST.xcscheme
HerowSDKTEST/HerowSDKTEST.xcworkspace/xcuserdata/damien.xcuserdatad/UserInterfaceState.xcuserstate
HerowSDKTEST/HerowSDKTEST.xcworkspace/xcuserdata/damien.xcuserdatad/xcdebugger/Breakpoints_v2.xcbkptlist
HerowSDKTEST/HerowSDKTEST/AppDelegate.swift
HerowSDKTEST/HerowSDKTEST/screens/Settings/SettingsViewController.swift
HerowSDKTEST/HerowSDKTEST/screens/Settings/accounts.plist
HerowSDKTEST/HerowSDKTEST/utils/Utils.swift
HerowSDKTEST/Podfile
HerowSDKTEST/Podfile.lock
HerowSDKTEST/Pods/Manifest.lock
HerowSDKTEST/Pods/Pods.xcodeproj/project.pbxproj
HerowSDKTEST/Pods/Pods.xcodeproj/xcuserdata/damien.xcuserdatad/xcschemes/Firebase.xcscheme
HerowSDKTEST/Pods/Pods.xcodeproj/xcuserdata/damien.xcuserdatad/xcschemes/FirebaseAnalytics.xcscheme
HerowSDKTEST/Pods/Pods.xcodeproj/xcuserdata/damien.xcuserdatad/xcschemes/FirebaseCore.xcscheme
HerowSDKTEST/Pods/Pods.xcodeproj/xcuserdata/damien.xcuserdatad/xcschemes/FirebaseCoreDiagnostics.xcscheme
HerowSDKTEST/Pods/Pods.xcodeproj/xcuserdata/damien.xcuserdatad/xcschemes/FirebaseCrashlytics.xcscheme
HerowSDKTEST/Pods/Pods.xcodeproj/xcuserdata/damien.xcuserdatad/xcschemes/FirebaseInstallations.xcscheme
HerowSDKTEST/Pods/Pods.xcodeproj/xcuserdata/damien.xcuserdatad/xcschemes/GoogleAppMeasurement.xcscheme
HerowSDKTEST/Pods/Pods.xcodeproj/xcuserdata/damien.xcuserdatad/xcschemes/GoogleDataTransport.xcscheme
HerowSDKTEST/Pods/Pods.xcodeproj/xcuserdata/damien.xcuserdatad/xcschemes/GoogleUtilities.xcscheme
HerowSDKTEST/Pods/Pods.xcodeproj/xcuserdata/damien.xcuserdatad/xcschemes/Herow.xcscheme
HerowSDKTEST/Pods/Pods.xcodeproj/xcuserdata/damien.xcuserdatad/xcschemes/Pods-HerowSDKTEST.xcscheme
HerowSDKTEST/Pods/Pods.xcodeproj/xcuserdata/damien.xcuserdatad/xcschemes/PromisesObjC.xcscheme
HerowSDKTEST/Pods/Pods.xcodeproj/xcuserdata/damien.xcuserdatad/xcschemes/SwiftLint.xcscheme
HerowSDKTEST/Pods/Pods.xcodeproj/xcuserdata/damien.xcuserdatad/xcschemes/Toast-Swift.xcscheme
HerowSDKTEST/Pods/Pods.xcodeproj/xcuserdata/damien.xcuserdatad/xcschemes/nanopb.xcscheme
HerowSDKTEST/Pods/Target Support Files/Firebase/Firebase.debug.xcconfig
HerowSDKTEST/Pods/Target Support Files/Firebase/Firebase.release.xcconfig
HerowSDKTEST/Pods/Target Support Files/FirebaseAnalytics/FirebaseAnalytics-xcframeworks-output-files.xcfilelist
HerowSDKTEST/Pods/Target Support Files/FirebaseAnalytics/FirebaseAnalytics-xcframeworks.sh
HerowSDKTEST/Pods/Target Support Files/FirebaseAnalytics/FirebaseAnalytics.debug.xcconfig
HerowSDKTEST/Pods/Target Support Files/FirebaseAnalytics/FirebaseAnalytics.release.xcconfig
HerowSDKTEST/Pods/Target Support Files/FirebaseCore/FirebaseCore.debug.xcconfig
HerowSDKTEST/Pods/Target Support Files/FirebaseCore/FirebaseCore.release.xcconfig
HerowSDKTEST/Pods/Target Support Files/FirebaseCoreDiagnostics/FirebaseCoreDiagnostics.debug.xcconfig
HerowSDKTEST/Pods/Target Support Files/FirebaseCoreDiagnostics/FirebaseCoreDiagnostics.release.xcconfig
HerowSDKTEST/Pods/Target Support Files/FirebaseCrashlytics/FirebaseCrashlytics.debug.xcconfig
HerowSDKTEST/Pods/Target Support Files/FirebaseCrashlytics/FirebaseCrashlytics.release.xcconfig
HerowSDKTEST/Pods/Target Support Files/FirebaseInstallations/FirebaseInstallations.debug.xcconfig
HerowSDKTEST/Pods/Target Support Files/FirebaseInstallations/FirebaseInstallations.release.xcconfig
HerowSDKTEST/Pods/Target Support Files/GoogleAppMeasurement/GoogleAppMeasurement-xcframeworks-output-files.xcfilelist
HerowSDKTEST/Pods/Target Support Files/GoogleAppMeasurement/GoogleAppMeasurement-xcframeworks.sh
HerowSDKTEST/Pods/Target Support Files/GoogleAppMeasurement/GoogleAppMeasurement.debug.xcconfig
HerowSDKTEST/Pods/Target Support Files/GoogleAppMeasurement/GoogleAppMeasurement.release.xcconfig
HerowSDKTEST/Pods/Target Support Files/GoogleDataTransport/GoogleDataTransport.debug.xcconfig
HerowSDKTEST/Pods/Target Support Files/GoogleDataTransport/GoogleDataTransport.release.xcconfig
HerowSDKTEST/Pods/Target Support Files/GoogleUtilities/GoogleUtilities.debug.xcconfig
HerowSDKTEST/Pods/Target Support Files/GoogleUtilities/GoogleUtilities.release.xcconfig
HerowSDKTEST/Pods/Target Support Files/Herow/Herow.debug.xcconfig
HerowSDKTEST/Pods/Target Support Files/Herow/Herow.release.xcconfig
HerowSDKTEST/Pods/Target Support Files/Pods-HerowSDKTEST/Pods-HerowSDKTEST-frameworks.sh
HerowSDKTEST/Pods/Target Support Files/Pods-HerowSDKTEST/Pods-HerowSDKTEST.debug.xcconfig
HerowSDKTEST/Pods/Target Support Files/Pods-HerowSDKTEST/Pods-HerowSDKTEST.release.xcconfig
HerowSDKTEST/Pods/Target Support Files/Toast-Swift/Toast-Swift.debug.xcconfig
HerowSDKTEST/Pods/Target Support Files/Toast-Swift/Toast-Swift.release.xcconfig