<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>preprod</key>
	<dict>
		<key>redirect_uri</key>
		<string>https://m-preprod.herow.io</string>
		<key>client_id</key>
		<string>65238409552</string>
		<key>client_secret</key>
		<string>Vq3p1nXx1NQal1di10IfkC4yLsd0KAM6</string>
	</dict>
	<key>prod</key>
	<dict>
		<key>redirect_uri</key>
		<string>https://m.herow.io</string>
		<key>client_id</key>
		<string>95634158622</string>
		<key>client_secret</key>
		<string>X33ohuSqX6kjI7ijDa91P4DZJVAmmHZe</string>
	</dict>
</dict>
</plist>
